@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/HomeIndexScript.js"></script>

<div class="jumbotron">
    <h1>Enjoy your new Simple Kitchen</h1>
    <h2 id="home-message">
    </h2>
</div>