.save-recipe{
    float: left;
    background-color: black;
    font-size: 12px;
    color: white;
    border: 1px solid gray;
    margin-top: 110px;
}

.save-recipe :hover{
    background-color: transparent;
}