body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: lightgray;
}

.asterisk{
    color: red !important;
    float: left;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-jumbotron {
    font-style: italic;
    -webkit-text-stroke: 1px black;
    background-image: url(/Content/AppImages/FruitCornucopia.jpg);
    background-size: cover;
    background-position-y: bottom;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 300px) {
    .navbar-brand{
        font-size: 20px !important;
    }
}