@model SimpleKitchen.Models.Recipe

@{
    ViewBag.Title = Model.RecipeName;
}

<br />
<hr />
@Html.Partial("RecipeDetailsPartial")
<p>
    <button type="button" class="modal-button btn btn-info" 
            onclick="window.location.href='Recipes/Edit/@Model.RecipeId'">Edit</button>
</p>
<br />
