@model SimpleKitchen.Models.ViewModels.RecipesDetailsViewModel
<script src="~/Scripts/RecipesDetailsScript.js"></script>
@{
    ViewBag.Title = Model.RecipeName;
}
<br />
<hr />
@Html.Partial("RecipeDetailsPartial")
<p>
    
</p>
<br />
