@model SimpleKitchen.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("RecipeDetailsPartial")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId })
</p>
