@model SimpleKitchen.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Public Recipe Details</h2>

@Html.Partial("RecipeDetailsPartial")
<p>
    @Html.ActionLink("My Recipes", "Index") | 
    @Html.ActionLink("Public Recipes", "PublicRecipes")
</p>
