@model IEnumerable<SimpleKitchen.Models.Recipe>
<link href="~/Content/CookBooksIndex.css" rel="stylesheet" />
<script src="~/Scripts/PublicRecipeDetailsScript.js"></script>
@{
    ViewBag.Title = "Public Recipes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Personal Recipes", "Index", "CookBooks", null, new { @class = "link-to-personal-recipes requires-authentication" })
</p>
<hr />
@Html.Partial("RecipeDisplayPartial")