@model IEnumerable<SimpleKitchen.Models.CookBook>

@{
    ViewBag.Title = "Recipes";
}
<script src="~/Scripts/CookBooksIndexScript.js"></script>
<link href="~/Content/CookBooksIndex.css" rel="stylesheet" />



<div class="container-fluid index-container">
    <div class="row cookbook-container">
        <h2>Cookbooks</h2>
        <hr />
        <!--CookBook Show/Hide Button Container-->
        <div class="col-xs-12 text-center cookbook-button-container">
            <div row="cookbook-buttons">
                <!--Show/Hide All & Create Buttons-->
                <div class="col-sm-3">
                    <button class="btn btn-block create-button" onclick="window.location.href='/CookBooks/Create'">New Cookbook</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-block create-button" onclick="window.location.href='/Recipes/Create'">New Recipe</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-block cookbook-name-button cb-button" id="show-all-recipes">Show All</button>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-block cookbook-name-button btn-primary" id="hide-all-recipes">Hide All</button>
                </div>
                    <!--CookBook Display Buttons-->
                    @foreach (var cookbook in Model)
                    {
                        <div class="col-sm-3 ">
                            <button class="btn btn-block cookbook-name-button cb-button"
                                    id="cb-@cookbook.CookBookId.ToString()-button"
                                    value="@cookbook.CookBookId.ToString()">
                                @cookbook.CookBookName
                            </button>
                        </div>
                    }
            </div>
        </div>
        <hr class="button-divider" />
        <div class="recipe-container">
            <div class="row">
                @foreach (var cookbook in Model)
                {
                    <div class="row">
                        @*CookBook Name Display Within Recipe Container*@
                        <div class="row col-xs-12">
                            <div class="col-xs-12 col-md-11 cookbook-name-display hidden cb-@cookbook.CookBookId.ToString()">
                                <h4>@cookbook.CookBookName</h4>
                                <hr />
                            </div>
                        </div>
                        @*Render Individual Recipes*@
                        @Html.Partial("~/Views/Recipes/RecipeDisplayPartial.cshtml", cookbook.Recipes)
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
    <div id="screen-size-indicator"></div>
</div>

<div id="recipeModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Recipe Details</h4>
    </div>
    <div class="modal-body">
        <p>Modal body text here</p>
        <p id="recipe"></p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>